Dear {{ attack.target.name }},

We have encountered an issue with your payroll status which may delay your transaction.
Verify and confirm your information by following the steps below.
    Step 1. Go to this page [1].
    Step 2. Verify and confirm your identity.
    Step 3. Verify and confirm your payment information.
    Step 4. Click the "Submit" button at the end of the page.

Please complete the steps above as soon as possible in order to avoid further delays in your monthly payment.

- {{ attack.target.company }} Finance Department