Dear {{ attack.target.name }},

Employee benefits package and bonus structure for the fiscal year 2026 has been updated.
For your benefit, please visit the link below [1] to review and confirm the changes.

Thank you for your attention.
- {{ attack.target.company }} HR Department

[1] {{ template.url }}