put your text here, you can reference the .yaml file or the attack table
{{ attack.target.name }} is being tricked


you can have whitespace and line breaks

:)

you can also reference things like {{ templates.url }}